 <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">


           <div class="inner cover">
            <h1 class="cover-heading" id="demo">Your Event Info: </h1>
            <p class="lead">
              
            </p>

          </div>

         

        </div>

    
    <a <button role="button" href="/#/sharksGame" id="button1" class="btn btn-lg btn-primary" onclick="total(); going(); counts();" >Be There</button></a>
    <a <button type="button" class= "btn btn-lg btn-primary" href="/#/sharksGame" id = "button2" onclick="total(); counts();">Be Square</button></a>
  

      </div>

    </div>
<script>
      var event = {
        name: "Picasso: Tapas and Paellas",
        type: "food",
        address: "525 W Santa Clara St, San Jose, CA 95113",
        time: "8:30",
        cost: "$70",
        ageReq: "none",
        likes: 500,
      };
      document.getElementById("demo").innerHTML = "<strong> Title: </strong>" + event.name + "<br> <strong>Type: </strong>" + event.type + "<br> <strong>Address: </strong>" + event.address + "<strong><br> Time: </strong>" + event.time + "<br> <strong>Cost: </strong>" + event.cost + "<br> <strong>Likes: </strong>" + event.likes; 

    </script>
