<div class="container">
	<!--title of page -->
	<h2 class="sub-header">
		Check off your Preferences
	</h2>
	  <!--Navigation--> 
	 <div class = "box">
		
	<form class="navbar-form" name="checkForm" id="checkForm" action="/action_page.php" method="get" style="width:300px; height:350px;margin-left:38%;margin-right:50%">
		  <!--<form name="checkForm" id="checkForm" action="/action_page.php" method="get">-->
	<div class="box1">
    <input type="checkbox" id = "adult" name="tag" value="adult" > adult<br>  
    </div>
    <div class="box1">
    <input type="checkbox" id = "art" name="tag" value="art"> art<br>  
    </div>
    <div class="box1">
    <input type="checkbox" id = "family" name="tag" value="family" > family<br> 
    </div>
    <div class="box1">
    <input type="checkbox" id = "food" name="tag" value="food"> food<br> 
    </div>
    <div class="box1">
    <input type="checkbox" id = "music" name="tag" value="music" > music <br> 
    </div>
    <div class="box1">
    <input type="checkbox" id = "parks" name="tag" value="parks"> parks<br>
    </div>
    <div class="box1">
    <input type="checkbox" id = "science" name="tag" value="science" > science <br>         
    </div>
    <div class="box1">
    <input type="checkbox" id = "shopping" name="tag" value="shopping" > shopping<br> 
    </div>
    <div class="box1">
    <input type="checkbox" id = "sports" name="tag" value="sports"> sports <br>
    </div>
    <button type="submit" class="btn btn-primary" ng-click="searchByIngred()">Search</button>
   <!-- <input type="submit" name="tag" value="Enter" ><br> -->
  </form>
</div>
   <p id = "info"></p>
  <p id = "info1"></p>
  <p id = "info2"></p>
  <p id = "info3"></p>
  <p id = "info4"></p>
  <p id = "info5"></p>
  <p id = "info6"></p>
  <p id = "info7"></p>
  <p id = "info8"></p>