 <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">


           <div class="inner cover">
            <h1 class="cover-heading" id="demo">Your Event Info: </h1>
            <p class="lead">
              
            </p>

          </div>

        </div>

    
    <a <button role="button" href="/#/maroon5" id="button1" class="btn btn-lg btn-primary" onclick="total(); going(); counts();" >Be There</button></a>
    <a <button type="button" class= "btn btn-lg btn-primary" href="/#/maroon5" id = "button2" onclick="total(); counts();">Be Square</button></a>
  

      </div>

    </div>
    
         <script>
      var event = {
        name: "Sharks Game",
        type: "sports",
        address: "525 W Santa Clara St, San Jose, CA 95113",
        time: "5:30",
        cost: "$50",
        ageReq: "none",
        likes: 500,
      };
      document.getElementById("demo").innerHTML = "<strong> Title: </strong>" + event.name + "<br> <strong>Type: </strong>" + event.type + "<br> <strong>Address: </strong>" + event.address + "<strong><br> Time: </strong>" + event.time + "<br> <strong>Cost: </strong>" + event.cost + "<br> <strong>Likes: </strong>" + event.likes; 

    </script>


     <!--<iframe src="https://www.google.com/
     maps/embed?pb=!1m18!1m12!1m3!1d3172.412987822351!2d-121.9034303492278!3d37.332730279743465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fcca099939eab%3A0x2dfa6f2f5ba99024!2sSAP+Center+at+San+Jose!5e0!3m2!1sen!2sus!4v1488685330652" width="1100" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>-->
